@import '../colors.module.scss';

.active-link {
    color: $primary;
}

.categories-list-menu {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
}

.sidebar-link {
    font-weight: 700;

    &:hover {
        color: $primary;
    }
}

.sidbar-spec {
    padding-top: 2px;
    color: $text-gray;
}